body {  font-family: 'Raleway', sans-serif;}


.pagecontainer {

  position: relative;
  min-height: 100vh;
  font-family: 'Raleway' sans-serif; 
  margin-right: 5px;
  display: flex;
  flex-direction: column;


}

.contentwrap {
  display: flex;
  flex-direction: column;
   padding-bottom: 200px;
  
  /*header and footer */
}

a:link{
  text-decoration: none;}

.header {
  
  display: flex;
  width: 100%;
  background-color: #EEE;
  height: 150px;
  position: absolute;
  top: 0;
  list-style-type: none;
  font-size: 25px;
  flex-direction: row;
  justify-content: right;
  padding: 5px 10px 0px 10px;
  margin-right: 2%;

}



.logopic {

  height: 60px;
  display: flex;
 



}

.logo {

  top: 0px;
  width: 10%;
  order: 1;
  margin-right: auto;

}

.headerlinks {
 margin-left: auto;

}


.acc {

margin-left: 20px;
margin-right: 10px;
}

.sign {
margin-left: 20px;
margin-right: 10px;
}

.acts {

  margin-left: 20px;
  margin-right: 20px;  
}


a:link {

  color: #0065FC;

}


a:hover {
  background-color: ghostwhite;
  text-transform: uppercase;
}

a:active {

  color: #0065FC;;
  text-decoration: overline #0065FC;
}

a:visited {
  color: hotpink;

}

.filters {
  display: flex;
  align-items: center;
  margin-left: 40px;
  
}

.filtertext {

  font-weight: 700;
  font-size: 1.2rem;
}

.filterb {

  border: 3px solid gainsboro;
  border-radius: 25px;
  height: 30px;
  margin-left: 20px;



}


.fbuttontext{
  font-weight: bold;
}

.searchdiv {
  display: flex;
  font-weight: bold;
  


}

.find {
  font-weight: 700;
}


.searchbutton {
  display: flex;
  border: 1px solid grey;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 0;
  height: 25px;
  border-radius:10px;
  width: fit-content;

}

.searchbar {

  border: none;
  height: 90%;
  margin: 0;

}

.mapicon{
background-color: grey;
height: 100%;
padding-left: 3%;
padding-right: 3%;
width: 15%;
border-top-left-radius: 8px;
border-bottom-left-radius: 8px;
margin: 0;

}

.mapicon icon {

  text-align: center;
  font-size: 0.8rem;
}

.searchbuttontext {
  background-color: blue;
  color: white;
  height: 100%;
  width: fit-content;
  font-size: 0.8rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius:10px;
  font-weight: bold;
  position: relative;
  left: -13px;
  border: none;
  margin: 0;


}




.bticon {

  background-color: #4991fc;
  padding: 7px;
  border-radius: 50%;
  position: relative;
  margin: 0px;
  justify-content: left;
  display: inline-block;
  left: -10px;
  line-height: 1.2;
  top: -2px;

  
  


}

.bticon i{

  color: #0065FC;
  width: 17px;
  font-weight: bold;
  
  
}

.moreicon i{
  font: #0065FC ;
  background-color: white;
}



.accommodation {
  display: flex;
  flex-direction: row;
  width: 100%;
  column-gap: 30px;




}



.headings {
  text-align: center;



}


.marseille {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
  padding-top: 50px;
  padding-left: 10px;
  display: inline-block;
  margin-left: 5px;
  background-color: #EEE;
  height: auto;
  row-gap: 2%;
  

}






.actmar {

  text-align: center;
}




.imagez {
  border: 2px solid ghostwhite;
  border-radius: 35px;
  display: flex;
  width: 280px;
  height: 360px;
  row-gap: 4rem;
  margin-left: 20px;
  margin-bottom: 20px;
  display: inline-block;



}

.imagez img {

  border-radius: 25px;
  width: 100%;
  height: 60%;
  display: inline-block;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;


}





.desc {

  text-align: center;
  width: 100%;
  height: 40%;


}




.popular {
  display: flex;
  flex-direction: column;
  background-color: #eee;
  width: 30%;
  padding-bottom: 30px;
  padding-top: 30px;
  height: auto;
    


}

.popular > div {
margin-left: auto;
margin-right: auto;

}

.popheadingsicon{
  color: black;
  margin-left: auto;
}

.popheadings{
  text-align: center;
}


.imagezp {
display: flex;
flex-direction: row;
width: 90%;
height: 200px;
border: 2px solid ghostwhite;
border-radius: 35px;
margin-bottom: 20px;
margin-top: 20px;


}



.popinside{
  display: flex;
  width: 50%;
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
  display: inline-block;
}

.popinside img{ 

  width: 100%;
  height: 100%;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  
  
  }


.descpop {

  font-size: 0.8em;
  width: 50%;
  height: 90%;
  padding-bottom: 0px;
  display: inline-block;
  margin-left: 10px;
  display: flex;
  flex-direction: column;

}



#hotel{
  font-weight:  bold;
}

#starsp {
margin-top:auto;
}

.accommodation i{
color: #0065FC;
}



.headingact {
  display: flex;
  display: block;
  text-align: center;
  margin-right: 250px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 700;
  font-size: 1.5rem;



}


.activities {
display: flex;
max-width: 100%;
height: auto;
justify-content: center;
flex-flow:wrap;
column-count: 4;
margin-bottom: 30px;





}


.actimagez {
flex-direction: column;
width: 20%;
height: 180px;
max-height: 420px;
margin-left:20px;
border-radius: 35px;
box-shadow:  0 6px 20px 0 rgba(0, 0, 0, 0.19);



}



.actimagez:nth-child(1) {
height: 400px;


}


.actimagez:nth-child(4) {

  height: 400px;
  
}





.picture img {

  width: 100%;
  height: 70%;
  padding: 0;
  margin: 0;
  border-radius: 35px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  }


  .actimagez .desc {
    height: 30%;
    padding-top: 0px;
    padding-bottom: 0px;
  }









.footercontainer {
  display: flex;
  background-color: #EEE;
  height: 200px;
  position: relative;
  bottom: 0;
  width: 100%;
  list-style-type: none;

}

.fcontainer {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 200px;
  flex-wrap: wrap;
  justify-content: space-around;

  font-size: 1.2rem;







}

ul {

  list-style-type: none;
  line-height: 2;
}

li {

  line-height: 1.5;
}

.left{
height: 200px;
display: inline-block;
width: 30%;
overflow-wrap: normal;


}

.middle{

  height: 200px;
  display: inline-block;
  width: 30%;;

}


.assistance{

  height: 200px;
  display: inline-block;
  width: 30%;;
  
}



@media screen and (max-width: 768px) {


  .pagecontainer {
    width: 100%;
    min-height: 100vh;



  }

  .contentwrap {
    width: 100%;
    height: auto;
    padding-bottom: 10px;
    padding-top: 150px;


  }


  .header {
    display: flex;
    font: 25px;
    flex-direction: row;
    flex-wrap: wrap;



  }

  .header div{ width: 30%;}
  .logo {
    width: 30%;
    

  }

  .headerlinks {

    padding-top: 3px;
    padding-bottom: 3px;
  }


  .sign{ 
    
  
    text-align: center;
    
  
  
  }

  

  .acts {
    
    
  
    text-align: right;
  }






  .accommodation {

  display: flex;
  flex-direction: column;

  }


  .marseille {

  width: 100%;
  display: inline-block;
  order: 2;
  }




  .popheadings{ 
    
    text-align: center;
    width: 100%;
    
  }


  .popular {

    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    order: 1;
    
  }



    .imagezp {

      width: 80%; 
      flex-direction: row;
      margin-left: auto;
      margin-right: auto;
      box-shadow: 15px 6px 10px -15px #111; 
         
    }


  


  .headingact {

    width: 100%;
    display: block;
  
    padding-bottom: 15px;




  }




  .activities {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 10px;
    column-count: 2;
    
  

  }

 

  .actimagez { 
    width: 40%;
    height:250px;
    max-height: 250px;
    margin-bottom: 20px;
  }


  .headingact {

    margin-bottom: 30px;
      
  }

  .picture  {

    height: 70%;
  }


  .picture img{

    width: 100%;
    height: 100%;

  }



  .descact{
    height: 30%;
    text-align: center;
  }

  
  


  .footercontainer {

    display: block;
    position: relative;
    bottom: 0;
    height: auto;



  }

  .fcontainer {

    height: auto;
    display: block;
    font-size: 1.2em;
    flex-direction: column;
    flex-wrap: wrap;
    bottom: 0;
    padding-bottom: 20px;


  }

  .fcontainer div {

    width: 100%;
    height: auto;
  }





}




@media screen and (max-width: 480px) {


  .pagecontainer {
    
    position: relative;
    display: flex;
    flex-direction: column;


  }

  .contentwrap{

    padding-top: 10px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-top: 100px;

    
    

  }

  .header {
  
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1.2rem;
    flex-wrap: wrap;
    font-weight: 700;
       
    
  }

  .header div {

    width: 30%;
    flex-wrap: wrap;
    margin-bottom: 20px;
    font-weight: 700;
    text-decoration: none;

  }

  .headerlinks {

    padding-top: 3px;
    padding-bottom: 5px;
  }

      .acc {
        text-align: left;
        margin-left: 5px;
      }

      .sign {
        text-align: left;
        margin-left: 5px;
      }


      .acts {
        text-align: right;
        margin-left: 5px;
        margin-right: 0;
      }

      

    .acc , .acts a:active{
    text-decoration: underline 5px #0065FC;
    }
    


    .allfilterb{

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 10px;
      justify-content: space-around;
      row-gap: 10px;

    }




  .accommodation {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    order: unset;
    

  }

  .popular {
    
    width: 100%;
    height: auto;
    order: 1;


  }

  

  .imagezp{

    width: 85%;
    height: 200px;
    display: flex;
    flex-direction: row;
    padding-bottom: 0px;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 15px 6px 10px -15px #111; 

    

  }


 


  .popinside{

    width: 55%;
    height: 200px;
    display: inline-block;





  }

  .popinside img{

    width: 100%;
    height: 100%;
    

  }


  .descpop{

    display: inline-block;
    height: 100%;
    width: 40%;
    
    


  }


  .marseille {
 
    width: 100%;
    margin: 0;
    justify-items: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    order: 2;
    background-color: whitesmoke;

  }


  .imagez {
    width: 85%;
    justify-items: center;
    align-items: center;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.19);



  }




 .activities {
  padding-left: 5px;
  height: auto;
  flex-direction: column;
  width: 100%;
  margin-left: 5px;



  }

  

    .actimagez{


  width: 90%;
  height: 250px;
  margin-bottom: 30px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 35px;
  box-shadow:  0 10px 20px 0 rgba(0, 0, 0, 0.19);
  
  }

  .picture {

    height: 70%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .picture img {

    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }



  .descact {
  display: block;
  height: 30%;
  font-weight: 700;
  font-size: 1.2rem;
  color: black;
  padding-left: 20px;
  

  }



  .footercontainer {

  height: auto;
  display: block;


  }

  .fcontainer {
  height: auto;
  display: block;
  font-size: 1.6rem;


  }





}


 






@media screen and (max-width: 320px) {


.pagecontainer {
  width: 100%;
  min-height: 100vh;
  


}
 .contentwrap {
   width: 100%;
 }



  .header {
  
    height: auto;
    width: 100%;
    flex-direction: column;
    padding: 0px;
    justify-content: left;
    


  }

  .logopic{
    width: 70px;
    height: 40px;
  }

 


  .header a {
    width: 100%;
    height: 40%;
    font-size: 1rem;
    line-height: 30px;
    font-weight: 700;
    text-align: left;


  }

  

  .search{
    height: auto;
    width: 100%;
    padding-top: 100px;
       
  }



  .filterb {
    flex-direction: row;
    justify-self: flex-start;
    text-align: left;
    margin-right: auto;
  }

  .accommodation {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .popular {
    width: 100%;
  }

  .marseille {

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    height: auto;

  }

  .imagez {

    width: 280px;
    height: 250px;
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 0px;
    padding-right: 0px;
    justify-self: center;


  }

    .imagez img{

      width: 100%;
      height: 60%;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }

    .desc {
      line-height: 1px;

    }


  .activities {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    display: block;
    
  }

  
  
    .headingact {
      width: 100%;
      font-size: 1.6rem;
      font-weight: 700;
      text-align: center;
      overflow-wrap: normal;
      word-wrap: break-word;
    }

    .actimagez {
    width: 90%;
    height: 200px;
    margin-bottom: 30px;
    margin-top: 20px;
    border-radius: 35px;
    box-shadow: 0 6px 20px 0 rgb(0 0 0 / 19%);


    }
    .actimagez1 {
      width: 90%;
      height: 200px;
      margin-bottom: 50px;
      margin-top: 50px;
      border-radius: 35px;
      border-bottom: 5px;
      box-shadow: 0 6px 20px 0 rgb(0 0 0 / 19%);
  
  
      }

     .actimagez1 img{
      width: 100%;
      height: 60%;

      
    }


    .actimagez img{
      width: 100%;
      height: 60%;

      
    }

    .descact {

      font-size: 1rem;
      font-weight: bold;
      height: 40%;
    }


  .footercontainer{

    width: 100%;
    position: relative; 
    bottom: 0;  
    margin-top: 300px;
  


  }

  .fcontainer{

    font-size: 1rem;
    width: 90%;
    overflow-wrap: normal;
    word-break: keep-all;
    text-align: left;
       
    flex-basis: 320px;
  

  }

  .left, .middle, .assistance {

    flex-basis: 320px;
      
    flex-grow: 1;
    width: 100%;
  }

  .left{
    width: 100%;
    word-wrap: normal;
    word-break: normal;
    text-overflow: ellipsis;
 
  }

  .left li{

    overflow-wrap: normal;
    word-wrap: break-word;

  }

  .footerheading {
    overflow-wrap: normal;
    word-wrap: break-word;
    word-break: keep-all;

  }







}














